---
layout: default
title: Home
navigation_weight: 1
navigation_icon: fa-home
---

<div class="row">

    <div class="col-md-4 top-padding">

      <!-- PERSONAL PHOTO -->
      <img class="center-block" src="img/jariasasdkfjlasdkfjlsadf.png" alt="Personal Photo of Jacinto Arias" style="width:75%;max-width:250px" />
      <br>

      <h4>Quick Links:</h4>
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-file-text-o"></i><a href="./docs/jacinto_arias_cv_en.pdf">Curriculum Vitae</a></li>
        <li><i class="fa-li fa fa-linkedin"></i><a href="http://es.linkedin.com/in/jacintoarias/en">Linkedin Profile</a></li>
        <li><i class="fa-li fa fa-github"></i><a href="http://github.com/jacintoArias">Github Page</a></li>
      </ul>

    </div><!-- end col -->

    <div class="col-md-8">
      {% include text/index_about.html %}
      <hr>
      {% include text/index_contact.html %}
      <br>
      <br>
      <br>

    </div><!-- end col -->
  </div><!-- end row -->
