---
layout: default
title: Offtopic
banner: banner_skdjfhgbs.png
navigation_weight: 4
navigation_icon: fa-music
---

<div class="row">
  <div class="col-md-12">
    <br>
    {% include text/offtopic_intro.html %}
  </div><!-- end row -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-4 top-padding">

    <!-- Live photo and spotify player -->
    <img src="img/jariasimglive.jpg" class="img-thumbnail center-block" style="max-width:300px">
    <br>
    <br>
    <iframe class="center-block" src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A11xxRIjSceYiPsjccNoOyl" width="99%" height="80" style="max-width:300px" frameborder="0" allowtransparency="true"></iframe>

  </div><!-- end col -->

  <div class="col-md-8">
      {% include text/offtopic_music.html %}
  </div><!-- end col -->

</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <hr>

    {% include text/offtopic_cubes.html %}

    <br>
    <br>
    <br>
    <br>
  </div><!-- end col -->

  <div class="col-md-2"></div>

</div><!-- end row -->
