---
layout: default
title: Research
banner: banner_network.png
navigation_weight: 2
navigation_icon: fa-graduation-cap
---

<div class="row">

  <div class="col-md-4">
    <!-- RESEARCH PROFILES -->
    <h3>Research Profiles</h3>
    <ul>

    <li><a href="http://scholar.google.es/citations?user=RDgzhsAAAAAJ" title="">
    Scholar Google
    </a></li>

    <li><a href="http://www.scopus.com/authid/detail.url?authorId=55873292300" title="">
    Scopus
    </a></li>

    <li><a href="http://www.researchgate.net/profile/Jacinto_Arias" title="">
    ResearchGate
    </a></li>

    <li><a href="http://www.informatik.uni-trier.de/~ley/pers/hd/a/Arias:Jacinto.html" title="">
    DBLP
    </a></li>

    </ul>
  </div><!-- end col -->

  <div class="col-md-8">
<!-- START OF THE RESEARCH PARAGRAPH -->
<h3>Research Activity and Interests</h3>
<p>
I am a member of the <a href="http://www.dsi.uclm.es/simd/" target="_blank" title="">Intelligent Systems and Data Mining</a>&nbsp;group at the <a href="http://www.i3a.uclm.es/" target="_blank" title="">Albacete Research Institute for Informatics.</a>
<br>
<br>
My main areas of interests are Machine Learning and Data Mining focusing on probabilistic methods, and especially on those based on Bayesian Networks. I began my predoctoral research working on scalable learning of Probabilistic Graphical Models and applications to specific problems like supervised classification.
<br>
<br>
Right now I focus my research (PhD Thesis) on High Dimensional and Large Scale and Big Data approaches for PGM learning via distributed programming paradigms such as MapReduce.
Most of my work is done focusing on the Hadoop and Spark platforms, and how Bayesian Networks can fit this technologies. I am also interested in applications of PGMs to specific domains such as standard or muti-label and multi-dimensional classification.
</p>
<p>
In addition to my main research topics I am very interested in the current Data Science software ecosystem, participating actively in many open source projects and communities.
I spend most of my spare time dealing with open datasets from different domains and competitions.
</p>
<!-- END OF THE RESEARCH PARAGRAPH -->
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Publications</h3>
    Next I keep an updated reference of my publications, please check the supplement pages available for each work if you are looking for additional results or software and data to reproduce our experiments (or use them as a practitioner). Of course you can contact me if you need more information of resources.
    <h3>International Journals</h3>
    <ul style="list-style-type:none">
      {% for paper in site.data.journal_papers %}
        <li style="padding-bottom:5px;">
          <strong>({{paper.year}}) {{paper.title}}</strong>
          <br>
          {{paper.author}}. {{paper.journal}}. {{paper.volume}}. {{paper.pages}}.
          <br>
        </li>
        &nbsp; &nbsp;
        <a class="btn btn-xs btn-success" href="{{paper.link}}" target="_blank">View Online</a>
        {% if paper.supplement %} <a class="btn btn-xs btn-warning" href="{{paper.supplement}}" target="_blank">Supplement Site</a> {% endif %}
        <br><br>
      {% endfor %}
    </ul>

    <h3>Conference Papers</h3>
    <ul style="list-style-type:none">
      {% for paper in site.data.conference_papers %}
        <li style="padding-bottom:5px;">
          <strong>({{paper.year}}) {{paper.title}}</strong>
          <br>
          {{paper.author}}. {{paper.journal}}. {{paper.volume}}. {{paper.pages}}.
          <br>
        </li>
        &nbsp; &nbsp;
        <a class="btn btn-xs btn-success" href="{{paper.link}}" target="_blank">View Online</a>
        {% if paper.supplement %} <a class="btn btn-xs btn-warning" href="{{paper.supplement}}" target="_blank">Supplement Site</a> {% endif %}
        <br><br>
      {% endfor %}
    </ul>
  </div><!-- end col -->
</div><!-- end row -->

<div class="row">
  <div class="col-md-12">
    <hr>
    <h3>Research Projects</h3>
    <ul>
      {% for project in site.data.research_projects %}
      <li><strong>{{project.name}}</strong> {{project.title}} Supporting Institution: {{project.institution}}. {{project.dates}}. Project Manager: {{project.manager}}</li>
      {% endfor %}
    </ul>
    <hr>
  </div><!-- end col -->
</div><!-- end row -->
