<!-- FOOTER -->
<div class="container-fluid" id="footer-container">

      <div id="footer" class="top-padding text-center">
          Copyright Jacinto Arias 2015
          <br>
          Styled with <a href="http://getbootstrap.com" target="_blank" >Bootstrap</a> and <a href="http://fontawesome.io" target="_blank">FontAwesome</a>
      </div><!-- end footer -->

</div><!-- end container -->

<!-- Latest compiled JavaScript -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
