<!DOCTYPE html>

<html>
    <head>
      {% include head.html %}
      <title>Jacinto Arias Site - {{page.title}}</title>
    </head>

    <body>

        <header class="container">
          {% include header.html %}
          {% include nav.html %}
        </header>

        <!-- BANNER -->
        <div class="container-fluid" id="banner-wrap">
          {% if page.banner %} {% include banner.html %} {% endif %}
        </div>

        <main class="container">
            {{ content }}
        </main>

        <footer class="container-fluid" id="footer-container">
           {% include footer.html %}
        </footer>

        {% include scriptLoader.html %}

    </body>

</html>
