<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Jacinto Arias personal website. Comprehensive publication list,
      projects and research interests on Data Science, Data Mining and Machine Learning.">

      {% include head.html %}

      <title>Jacinto Arias&nbsp;Academic Website</title>

    </head>

    <body>

        <header class="container">
          {% include header.html %}
          {% include nav.html %}
        </header>

        <!-- BANNER -->
        <div class="container-fluid" id="banner-wrap">

        </div><!-- end container -->

        <main class="container">
            <br>
            <div class="alert alert-danger">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <b>Important!</b> This website is under migration to github-pages and might be incomplete until notice. Please visit the original domain <a href="http://jarias.es">jarias.es</a>. Thanks!
            </div>
            {{ content }}
        </main>

        <footer class="container-fluid" id="footer-container">
           {% include footer.html %}
        </footer>
    </body>

</html>
