
<h3>{{ include.title }}</h3>

<ul style="list-style-type:none">
  {% for paper in include.publist %}
    <li style="padding-bottom:5px;">
      <strong>({{paper.year}}) {{paper.title}}</strong>
      <br>
      {{paper.author}}. {{paper.journal}}. {{paper.volume}}. {{paper.pages}}.
      <br>
    </li>
    &nbsp; &nbsp;
    <a class="btn btn-xs btn-success" href="{{paper.link}}" target="_blank">View Online</a>
    {% if paper.supplement %} <a class="btn btn-xs btn-warning" href="{{paper.supplement}}" target="_blank">Supplement Site</a> {% endif %}
    <br><br>
  {% endfor %}
</ul>
