<h3>Contact Info</h3>
<p>
Jacinto Arias Martínez
<br>
Laboratorio SIMD, Instituto de Investigación en Informática
<br>
Campus universitario, s/n
<br>
02071 Albacete, Spain
<br>
+34 967 59 92 00 (2598)
<br>
&#106;&#097;&#099;&#105;&#110;&#116;&#111;&#046;&#097;&#114;&#105;&#097;&#115;&#064;&#117;&#099;&#108;&#109;&#046;&#101;&#115;&nbsp;
</p>

<!--  LOGOS -->
<br>
<a href="http://www.dsi.uclm.es/simd/" target="_blank" title=""><img src="img/logo-simd.png" style="width:100px"></a>
<a href="http://www.uclm.es" target="_blank"><img src="img/logo-esii.png" style="width:64px"/></a>
<img src="img/logo-mecd.png" style="width:200px"/>
