
<h3>About me</h3>
<p>
I'm a PhD student based in <a href="https://www.google.com/maps/place/Albacete/@38.9921992,-1.8605894,7z/data=!4m2!3m1!1s0xd665fe2fb218d15:0x8269cd31d6186180" target="_blank" title="">Albacete</a>, Spain.
</p>
<p>
I got my BSc and MSc in Computer Science from the University of Castilla-La Mancha in 2012 and 2013 respectively.
</p>
<p>
I am a member of the <a href="http://www.dsi.uclm.es/simd/" target="_blank" title="">Intelligent Systems and Data Mining</a>
group (SIMD) at the <a href="http://www.i3a.uclm.es/" target="_blank" title="">Albacete Research Institute for Informatics</a>
in the <a href="http://www.uclm.es" target="_blank">University of Castilla-La Mancha</a>. I am currently funded by a Spanish MECD FPU grant.
</p>
<p>
My research is focused on Artificial Intelligence and Data Mining, concretely in the field of
Bayesian Networks, scalable applications and Big Data.
</p>
<p>
In this page I keep an updated reference of my work including publications, related software, and utilities.
Please refer to the <a href="./Research" title="">Research</a>
page for a more detailed information of my current activity.
</p>
<p>
Also, I have an updated <a href="./docs/jacinto_arias_cv_en.pdf">CV available here</a>. Don't hesitate to contact me any time for any matter,
I will be pleased to help.
</p>
