<h3>Music</h3>
<p>
I usually spend most of my spare time trying to be an amateur musician, mainly as a guitarist.
My influences are wide, from 70's classics Pink Floyd, Genesis or King Crimson to modern Prog Rock bands
like Porcupine Tree. I'm also an enthusiast of Southern Rock and North America's Folk and Bluegrass music.
</p>
<p>
Please check out my actual band <strong>Recombine</strong> if you are interested, a post/prog-rock instrumental trio sharing many
of my influences (not the country music I swear). You can listen to our albums on
<a href="https://play.spotify.com/artist/6xFBRLEgcXSPUTjZmx0gOZ" target="_blank">Spotify</a>
or
<a href="https://recombine.bandcamp.com" target="_blank">Bandcamp</a>
and watch our
covers and live shows on our
<a href="https://www.youtube.com/channel/UCAYC2ljaBQujdnPB4TfzXGA" target="_blank">YouTube</a>
channel. Hope you enjoy.
</p>
