
<h3>Research Activity and Interests</h3>
<p>
I am a member of the <a href="http://www.dsi.uclm.es/simd/" target="_blank" title="">Intelligent Systems and Data Mining</a> group at the <a href="http://www.i3a.uclm.es/" target="_blank" title="">Albacete Research Institute for Informatics.</a>
</p>
My main areas of interests are Machine Learning and Data Mining focusing on probabilistic methods, and especially on those based on Bayesian Networks. I began my predoctoral research working on scalable learning of Probabilistic Graphical Models and applications to specific problems like supervised classification.
</p>
<p>
Right now I focus my research (PhD Thesis) on High Dimensional and Large Scale and Big Data approaches for PGM learning via distributed programming paradigms such as MapReduce.
Most of my work is done focusing on the Hadoop and Spark platforms, and how Bayesian Networks can fit this technologies. I am also interested in applications of PGMs to specific domains such as standard or muti-label and multi-dimensional classification.
</p>
<p>
In addition to my main research topics I am very interested in the current Data Science software ecosystem, participating actively in many open source projects and communities.
I spend most of my spare time dealing with open datasets from different domains and competitions.
</p>
